<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>My Profile</title>
<link href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<link href="https://vula.uct.ac.za/library/skin/tool.css" type="text/css" rel="stylesheet" media="all"  rsf:id="scr=portal-matter"/>
<script type="text/javascript" language="JavaScript"
	src="file:///C|/Documents%20and%20Settings/administrator/Desktop/edit_files/headscripts.js" rsf:id="scr=portal-matter"></script>
	<script>
	$(document).ready(function(){
		var options = {
			beforeSend: function(){
				$('.success').each(function(){
					$(this).slideUp('fast');
				});
			},
   		 success: function(msg) {
			 $(document).trigger('close.facebox');			 
			 $('.portletBody').prepend('<span class="success">' + $(msg).find('.success').html() + '<a href="#"><div name="closeMsg">close</div></a></span>');
			 $('.profileImage img').attr('src', $(msg).find('.profileImage img').attr('src'));
			$('.success div').bind('click', function(){
				$(this).parent().parent().slideUp('normal');
			});
    	  }
 	 };

		$.facebox.setHeader($('.titleHeader'));
		$.facebox.setHeader($('.noExist'));
		$('.selectImage').bind('click', function(){
			that = $(this);
			//that.attr('class', that.attr('class') + ' imageSelected');
			that.parent().find('input[@type*=radio]').each(function(){
				$(this).removeAttr('checked');
			});
			that.find('input[@type*=radio]').attr('checked', 'checked');
			$('#form').ajaxSubmit(options);
			return false;
		});		
		
		$('.officialPic').bind('click', function(){
			$.get('officialpic','',
				function(f){
					var form = $(f).find('form');
					if (form) {
						form.ajaxSubmit({
							success: function(msg){
								$(document).trigger('close.facebox');
								$('.portletBody').prepend('<span class="success">' + $(msg).find('.success').html() + '<a href="#"><div name="closeMsg">close</div></a></span>');
								$('.profileImage img').attr('src', $(msg).find('.profileImage img').attr('src'));
								//$('.success div').bind('click', function(){
								//	$(this).parent().parent().slideUp('normal');
								}
						});
					}
					else 
					{alert('No form');}
					/*$.post(
						'officialpic',
						params,
						function(msg){
							 $(document).trigger('close.facebox');			 
							 $('.portletBody').prepend('<span class="success">' + $(msg).find('.success').html() + '<a href="#"><div name="closeMsg">close</div></a></span>');
							 $('.profileImage img').attr('src', $(msg).find('.profileImage img').attr('src'));
							 $('.success div').bind('click', function(){
								$(this).parent().parent().slideUp('normal');
							});	*/			
						return false;
						}
					//}
				);
			return false;
		});

		$('.removePicture').bind('click', function(){
			$('input[@type*=radio]').each(function(){
				$(this).removeAttr('checked');
			});
			$('#form').ajaxSubmit(options);
			return false;
		});


		$('#officalPic').unbind('click');
		$('#officalPic').bind('click', function(){
			$('.officialPicForm').ajaxSubmit(options);
			return false;
		});

		
		$('#uploadPicture').bind('click', function(){
			$('.uploadPictureForm').slideToggle('fast');
				if($(this).attr('class') == "addItem"){
					$(this).attr('class', 'removeItem');
				}else{
					$(this).attr('class', 'addItem');
				}

			return false;
		});	

		
	});
		
	function formSubmit(that){
		if ($('input[@name*=fileupload1]').val()) {
			$('#uploadPicture').attr('class', 'loading');
			$(that).unbind('click');
			$(that).bind('click', function(){return false});
			return true;
			}
		else {					
		return false;
		}
	}	
	
</script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body rsf:id="scr=sakai-body">
<div class="portletBody"> 

<h3 style="font-weight: bold;" class="titleHeader">Change profile picture</h3>

<div rsf:id="message-for:*" class="alertMessage">
	<span>Message for user here</span>
</div>
	
	
<table cellpadding="5" align="left">

<tr>	<td>
<table width="447px">
	<tr>
  <td colspan="5" width="70%" align="left">
		
		<div rsf:id="remove-image-link" class="removePicture"><a href="#">Remove your picture</a></div><br />
		<div class="addItem" id="uploadPicture"> <a href="#">Upload a picture</a></div>
	</td>
  <td class="activeImage" align="center">
  	Active<br />
 <img rsf:id="selected-image" src="../images/active-picture.jpg"  width="75px"/>
 <img rsf:id="default-image" src="../images/noimage.jpg"  width="75px"/>
 </td>  
 <td rsf:id="official-pic:" id="officialPic" class="selectImage" align="center" width="25%">	
	<span rsf:id="official-pic-title">My UCT picture</span>
	<a href="#"><img src="officialPic.gif" alt="Use your official UCT photo" border="none" rsf:id="official-pic-image" /></a>
	<form rsf:id="official-pic-form" class="officialPicForm">
	<input  type="hidden" name="select" rsf:id="official-pic-field" />
	</form>
 </td>
</tr>
</table>
</td></tr>
<tr><td>
<table>
<tr>
  <td>
  	
	<!--
  	<iframe rsf:id="uploader-frame" id="uploadPictureFrame" name="uploadPictureFrame" class="uploadPictureForm" style="display:none;" width="418" height="60" frameborder="0" marginwidth="10" marginheight="10" scrolling="no" src="uploadpic"></iframe>
	-->

<form rsf:id="upload-pic-form" id="" class="uploadPictureForm" style="display:none;" method="post" enctype="multipart/form-data">
<input type="file" name="fileupload1"/>
<input rsf:id="submit" id="submit" type="submit" class="active" onclick="return formSubmit(this);" value="Upload picture"/>
<!-- <input id="submit" type="button" value="Cancel"/> -->
</form>
	

<hr width="423px" noshade="no"/>
</td>
</tr>
</table>
</td></tr>
<tr><td>	
<form method="post" rsf:id="form" id="form">
	
<table cellpadding="5" align="left">
<!-- This span is needed here to guide the renderer away to the checkboxes -->
<span rsf:id="select-pic"/>
	<tr rsf:id="pic-row:">
	
	<td rsf:id="pic-cell:" align="center" class="selectImage"><input rsf:id="select" type="radio" name="choose" style="display:none;" />
	<a href="#"><img rsf:id="pic" src="../images/pictureUnavailable.jpg" width="75px" /></a></td>
	</tr>
	</table>
<input type="hidden" rsf:id="submit" value="Change picture" />    
</form>	
	
	</td></tr>
</table>   



</div>
</body>
</html>