<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>My Profile</title>
<link href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<link href="https://vula.uct.ac.za/library/skin/tool.css" type="text/css" rel="stylesheet" media="all"  rsf:id="scr=portal-matter"/>
<script type="text/javascript" language="JavaScript"
	src="file:///C|/Documents%20and%20Settings/administrator/Desktop/edit_files/headscripts.js" rsf:id="scr=portal-matter"></script>
	<script>
	$(document).ready(function(){
		var options = {
			beforeSend: function(){
				$('.success').each(function(){
					$(this).slideUp('fast');
				});
			},
   		 success: function(msg) {
			 $('.portletBody').prepend('<span class="success">' + $(msg).find('.success').html() + '<a href="#"><div name="closeMsg">close</div></a></span>');
			 $(document).trigger('close.facebox');
			 $('.profileImage img').attr('src', $(msg).find('.profileImage img').attr('src'));
			$('.success div').bind('click', function(){
				$(this).parent().parent().slideUp('normal');
			});
    	  }
 	 };

		$.facebox.setHeader($('.titleHeader'));
		$('.selectImage').bind('click', function(){
			//alert(this.src);
			that = $(this);
			/*that.parent().parent().parent().find('img').each(function(){
				$(this).attr('class', 'rosterImage');
			});

			that.attr('class', that.attr('class') + ' imageSelected');*/
			that.parent().find('input[@type*=radio]').each(function(){
				$(this).removeAttr('checked');
			});
			that.find('input[@type*=radio]').attr('checked', 'checked');
			$('#form').ajaxSubmit(options);
			//$('#form .submit').click();
		});

		
		$('#uploadPicture').bind('click', function(){
			var iframe = document.getElementById('uploadPictureFrame');
			$($(iframe)).slideToggle('fast');
				if($(this).attr('class') == "addItem"){
					$(this).attr('class', 'removeItem');
				}else{
					$(this).attr('class', 'addItem');
				}

			return false;
		});		
		
	});
</script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body rsf:id="scr=sakai-body">
<div class="portletBody"> 

<h3 style="font-weight: bold;" class="titleHeader">Change profile picture</h3>

<div rsf:id="message-for:*" class="alertMessage">
	<span>Message for user here</span>
</div>
<span class="addItem" id="uploadPicture"> <a href="#">Upload a new picture</a></span>
		<iframe id="uploadPictureFrame" name="uploadPictureFrame" class="uploadPictureFrame" style="display:none;" width="90%" height="50" frameborder="0" marginwidth="10" marginheight="10" scrolling="no" src="http://lovemore-nalube.chd.uct.ac.za:8080/portal/tool/a22e9f78-133e-407f-8007-2a2e341f2871/uploadpic?_=1225897445872"></iframe>
	
<form method="post" rsf:id="form" id="form">
<br />
<!-- This span is needed here to guide the renderer away to the checkboxes -->
<span rsf:id="select-pic"/>

<table cellpadding="5" align="left">
<tr rsf:id="pic-row:">
	<td rsf:id="pic-cell:" align="center"><input rsf:id="select" type="radio" name="choose" style="display:none;" />
	<a href="#"><img rsf:id="pic" src="../images/pictureUnavailable.jpg" width="75px"  class="selectImage"/></a></td>
	</tr>
	</table>   
<input type="hidden" rsf:id="submit" value="Change picture" />    
</form>


</div>
</body>
</html>