<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>My Profile</title>
<link href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<link href="https://vula.uct.ac.za/library/skin/tool.css" type="text/css" rel="stylesheet" media="all"  rsf:id="scr=portal-matter"/>
<script type="text/javascript" language="JavaScript"
	src="edit_files/headscripts.js" rsf:id="scr=portal-matter"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body rsf:id="scr=sakai-body">
<div class="portletBody"> 
  <form id="editProfileForm" method="post"
	action="https://vula.uct.ac.za/portal/tool/896bff67-8e77-489f-00d3-c4ed91385ec7/edit"
	enctype="application/x-www-form-urlencoded">
    <!--edit.jsp -->
    <div class="navIntraTool"><span id="editProfileForm:editprofile"
	class="currentView">Edit my Profile </span> <span
	id="editProfileForm:seperaror"> | </span> <a
	id="editProfileForm:cancel" href="#">Show 
      my Profile</a></div>
    <h3>My Profile</h3>
    <div class="instruction"><span id="editProfileForm:er1">Complete form and 
      then choose 'Save' at the bottom. A</span> <span
	id="editProfileForm:er2" class="reqStarInline">'*'</span> <span
	id="editProfileForm:er3">means it is required information.</span></div>
    <h4>Public Information</h4>
    <table class="jsfFormTable" summary="layout">
      <tbody>
        <tr> 
          <td><span class="checkbox labelindnt"> 
            <input
				id="editProfileForm:checkhide" name="editProfileForm:checkhide"
				title="Hide public and personal information" type="checkbox" />
            <label
				for="editProfileForm:checkhide"> Hide public and personal information</label>
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext required"><span
				id="editProfileForm:inputid" class="reqStar">*</span>
            <label
				id="editProfileForm:outputLabel" for="editProfileForm:first_name"> 
            First Name</label>
            <input id="editProfileForm:first_name"
				name="editProfileForm:first_name" value="David" size="30"
				type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext required"><span
				id="editProfileForm:er5" class="reqStar">*</span>
            <label
				id="editProfileForm:outputLabel111" for="editProfileForm:lname"> 
            Last Name</label>
            <input id="editProfileForm:lname"
				name="editProfileForm:lname" value="Horwitz" size="30" type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext">
            <label
				id="editProfileForm:outputLabel2" for="editProfileForm:nickname"> 
            Nickname</label>
            <input id="editProfileForm:nickname"
				name="editProfileForm:nickname" value="" size="30" type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext">
            <label
				id="editProfileForm:outputLabel3" for="editProfileForm:position"> 
            Position</label>
            <input id="editProfileForm:position"
				name="editProfileForm:position" value="OLE Developer" size="30"
				type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext">
            <label
				id="editProfileForm:outputLabel4" for="editProfileForm:department"> 
            Department</label>
            <input id="editProfileForm:department"
				name="editProfileForm:department" value="CET" size="30" type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext">
            <label
				id="editProfileForm:outputLabel5" for="editProfileForm:school"> 
            Institution</label>
            <input id="editProfileForm:school"
				name="editProfileForm:school" value="University of Cape Town"
				size="30" type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext">
            <label
				id="editProfileForm:outputLabel6" for="editProfileForm:room"> 
            Room</label>
            <input id="editProfileForm:room" name="editProfileForm:room"
				value="6.20.7 Hlanganani" size="30" type="text" />
            </span></td>
        </tr>
      </tbody>
    </table>
    <h4><span id="editProfileForm:personal">Personal Information</span></h4>
    <table class="jsfFormTable" summary="layout">
      <tbody>
        <tr> 
          <td><span class="checkbox labelindnt"> 
            <input
				id="editProfileForm:hideMyPersonalInfo"
				name="editProfileForm:hideMyPersonalInfo" checked="checked"
				title="Hide only my personal information" type="checkbox" />
            <label
				id="editProfileForm:id5" for="editProfileForm:hideMyPersonalInfo"> 
            Hide only my personal information</label>
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext">
            <label
				id="editProfileForm:outputLabel7"> Picture</label>
            <table id="editProfileForm:picture" class="checkbox"
				style="margin-bottom: 1em;">
              <tbody>
                <tr> 
                  <td><label> 
                    <input checked="checked"
							name="editProfileForm:picture" value="none"
							title="Choose picture id preference" type="radio" />
                    None</label></td>
                </tr>
                <tr> 
                  <td><label> 
                    <input name="editProfileForm:picture"
							value="universityId" title="Choose picture id preference"
							type="radio" />
                    Use University Id Picture</label></td>
                </tr>
                <tr> 
                  <td><label> 
                    <input name="editProfileForm:picture"
							value="pictureUrl" title="Choose picture id preference"
							type="radio" />
                    Use Picture URL :</label></td>
                </tr>
              </tbody>
            </table>
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext"> 
            <input
				id="editProfileForm:inputPictureUrl"
				name="editProfileForm:inputPictureUrl" class="labelindnt" size="30"
				type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext"><span
				id="editProfileForm:inputid1" class="reqStar">*</span>
            <label
				id="editProfileForm:outputLabel17" for="editProfileForm:email"> 
            Email</label>
            <input id="editProfileForm:email" name="editProfileForm:email"
				size="30" type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext">
            <label
				id="editProfileForm:outputLabel8" for="editProfileForm:homepage"> 
            Home Page</label>
            <input id="editProfileForm:homepage"
				name="editProfileForm:homepage" size="30" type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext">
            <label
				id="editProfileForm:outputLabel9" for="editProfileForm:workphone"> 
            Work Phone</label>
            <input id="editProfileForm:workphone"
				name="editProfileForm:workphone" value="021 650 3884" size="30"
				type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext">
            <label
				id="editProfileForm:outputLabel10" for="editProfileForm:homephone"> 
            Home Phone</label>
            <input id="editProfileForm:homephone"
				name="editProfileForm:homephone" size="30" type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext">
            <label
				id="editProfileForm:outputLabel101" for="editProfileForm:mobile"> 
            Cellphone</label>
            <input id="editProfileForm:mobile"
				name="editProfileForm:mobile" value="" size="30" type="text" />
            </span></td>
        </tr>
        <tr> 
          <td><span class="shorttext"> 
            <table>
              <tbody>
                <tr> 
                  <td><label id="editProfileForm:outputLabel11"
							for="editProfileForm:otherInformation"> More details</label></td>
                </tr>
                <tr> 
                  <td><span id="editProfileForm:otherInformation"> 
                    <table border="0">
                      <tbody>
                        <tr> 
                          <td>-deleted textarea here</td>
                        </tr>
                      </tbody>
                    </table>
                    </span></td>
                </tr>
              </tbody>
            </table>
            </span></td>
        </tr>
      </tbody>
    </table>
    <p class="act"> 
      <input id="editProfileForm:editSaveButton"
	name="editProfileForm:editSaveButton" value="Save" accesskey="s"
	onkeypress="document.forms[0].submit;" class="active" type="submit" />
      <input
	id="editProfileForm:editCancelButton"
	name="editProfileForm:editCancelButton" value="Cancel" accesskey="x"
	onkeypress="document.forms[0].cancel;" type="submit" />
    </p>
    <input name="editProfileForm" value="editProfileForm" type="hidden" />
    <input
	name="editProfileForm:_idcl" type="hidden" />
  </form>
</div>
</body>
</html>
