<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Profile</title>
<link href="main_files/tool_base.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter"/>
<link href="main_files/tool.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<script type="text/javascript" language="JavaScript" src="main_files/headscripts.js" rsf:id="scr=portal-matter"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body rsf:id="scr=sakai-body">
<div class="portletBody"> 
  <form id="profileForm" method="post" action="https://vula.uct.ac.za/portal/tool/896bff67-8e77-489f-00d3-c4ed91385ec7/main" enctype="application/x-www-form-urlencoded">
    <!--main.jsp -->
    <div class="navIntraTool"> <a rsf:id="editProfile" href="#" title="Edit my Profile ">Edit 
      my Profile </a> <span id="profileForm:seperator"> | </span> <a id="profileForm:searchProfile" href="#" title="Show my Profile" onclick="document.forms['profileForm']['profileForm:_idcl'].value='profileForm:searchProfile'; document.forms['profileForm'].submit(); return false;">Show 
      my Profile</a> </div>
    <table class="profileTable" summary="layout" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr> 
          <td colspan="2"><h3 class="insColor insBak insBorder">Profile: <span rsf:id="profile-name">Daffy Duck</span></h3></td>
          <td class="profileSearch"><h3 class="insColor insBak insBorder">Search 
              for Profile</h3></td>
        </tr>
        <tr> 
          <td class="rosterImageCol"> 
          	<img rsf:id="profile-image" src="../pictureUnavailable.jpg" alt="Picture of" class="rosterImage" /> 
          </td>
          <td class="profileData"> 
          <span rsf:id="profile-nickname">dude</span> 
          	<span rsf:id="profile-postion">Student</span> 
            <span rsf:id="profile-department">Animation</span>
            <span rsf:id="profile-school">Disney</span> 
            <span rsf:id="profile-room">dineyland</span> 
            <span rsf:id="profile-workphone">quack!</span> </td>
          <td class="profileSearch"> 
            
          </td>
        </tr>
      </tbody>
    </table>
    <input name="profileForm" value="profileForm" type="hidden" />
    <input name="profileForm:_idcl" type="hidden" />
  </form>
</div>
</body>
</html>
