<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
<script>
	$(document).ready(function() { 
				var hide = function(){
					//$('td[rel*=infoCell]').html($('#infoCell-backup').html());
					window.location.href = '#top';
					$('#infoCell-backup').remove();
					var elem = $('td[rel*=infoCell]');
						$.ajax({
							url: window.location.href,
							cache: false,
							beforeSend: function(){
								elem.html('Loading....');
							},
							success: function(msg){
								elem.html($(msg).find('td[rel*=infoCell]').html());
								return false;
							}
						});
					return false;
				}
				$('input[@class*=cancel]').bind('click', hide);
				$('.closeImg').bind('click', hide);	
				});
				
		$('a[rel*=facebox]').facebox();
	
</script>
</head>

<body>
<div> 
<a class="closeImg" href="#">close</a>
<h3 rsf:id="searchTitle">Search for {search term}</h3>

<div rsf:id="resultRow:"><a href="viewProfile.html" rsf:id="resultLink" rel="facebox">Search results go here</a></div>


<br />
<input type="button" class="cancel" value="Back" />

</div>
</body>
</html>
