<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
<link href="http://qa1-za.sakaiproject.org/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<link href="http://qa1-za.sakaiproject.org/library/skin/tool.css" type="text/css" rel="stylesheet" media="all"  rsf:id="scr=portal-matter"/>
<script type="text/javascript" language="JavaScript"
	src="http://qa1-za.sakaiproject.org/library/headscripts.js" rsf:id="scr=portal-matter"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody"> 


<div style="float:right" class="sidebar">

<div rsf:id="search:">Search box goes here</div>

<div class="action"><img src="library/image/silk/user_go.png" alt="return to my profile"/> <a href="main.html">Return to my profile</a></div>

</div>

<h3 rsf:id="searchTitle">Search for {search term}</h3>

<div rsf:id="resultRow:"><a href="viewProfile.html" rsf:id="resultLink">Search results go here</a></div>


<br />
<input type="submit" onclick="Javascript:history.go(-1)" value="Back" />

</div>
</body>
</html>
