<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
<script type="text/javascript" language="javascript">
	$(document).ready(function() {
		console.log('going');
	});
</script>
</head>

<body>
<div> <h3 rsf:id="searchTitle">Search for <span style="font-weight:bold" >{search term}</span></h3>
    <p class="act" style="padding-left: 125px; margin-bottom: 0; background-color: #F3F3F3; width: 100%; padding-bottom: 2px;  padding-top: 2px;  padding-right: 2px; text-align: right" >
	    <input rsf:id="searchBack"  rel="nav" type="button" value="Previous" />
	    <input rsf:id="searchNext" rel="nav" type="button" value="Next" />	    
    </p>
	<div rsf:id="resultRow:">
			<a href="viewProfile.html" rsf:id="resultLink" rel="facebox">Search results go here</a></div>
<div rsf:id="limitmessage" class="information">Your search returned a lot of results. Please enter a more specific term to get better results.</div>
<br />
<input type="button" class="cancel" value="Back" />
</div>
</body>
</html>
