<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
<link href="http://qa1-za.sakaiproject.org/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<link href="http://qa1-za.sakaiproject.org/library/skin/tool.css" type="text/css" rel="stylesheet" media="all"  rsf:id="scr=portal-matter"/>
<script type="text/javascript" language="JavaScript"
	src="http://qa1-za.sakaiproject.org/library/headscripts.js" rsf:id="scr=portal-matter"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody"> 
<h3 rsf:id="header-name"><!-- First name, Surname -->Daffy Duck</h3>

<table callspacing="0" cellpadding="5" border="0">
  <tbody>
    <tr>
      <td rowspan="8" valign="top"><img src="noimage.gif" alt="profile photo" rsf:id="photo" /></td>
  
      <td rsf:id="full-name"><!-- Title, First name, Surname -->Dr Daffy Duck</td>
      
      
    </tr>

    <tr>
      <td><a href="mailto:some@sdrg.net" rsf:id="email">daffyduck@disney.com</a></td>
    </tr>
    <tr>
      <td rsf:id="org"><!-- Organisation -->Disney</td>
    </tr>
    <tr>
      <td rsf:id="country"><!-- country -->USA</td>
    </tr>

    <tr>
      <td><a href="homepage" rsf:id="homepage" ><!-- homepage -->http://www.daffy.com</a></td>
    </tr>
    <tr>
      <td rsf:id="workphone"><!-- work phone, if chosen to disclose -->w: 021 555 1234</td>
    </tr>
    <tr>
      <td rsf:id="mobile"><!-- mobile, if chosen to disclose -->m: 082 555 1234</td>
    </tr>
    
    <tr>
      <td rsf:id="more-info"><!-- More info -->Blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here 
      blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here 
      blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here </td>
    </tr>
  </tbody>
</table>
<input type="submit" onclick="Javascript:history.go(-1)" value="Back" />

</div>
</body>
</html>
