<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
<link href="http://qa1-za.sakaiproject.org/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<link href="http://qa1-za.sakaiproject.org/library/skin/tool.css" type="text/css" rel="stylesheet" media="all"  rsf:id="scr=portal-matter"/>
<script type="text/javascript" language="JavaScript"
	src="http://qa1-za.sakaiproject.org/library/headscripts.js" rsf:id="scr=portal-matter"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript" language="JavaScript">
// in case the parent iframe id has whitespace, trim so that IE can use it.
function trim(s){
	if((s==null)||(typeof(s)!='string')||!s.length)return'';return s.replace(/^\s+/,'').replace(/\s+$/,'')
}
</script>
</head>

<body rsf:id="scr=null" onload="(window.frameElement) ? setMainFrameHeight(trim(window.frameElement.id)):''">
<div class="portletBody"> 

<div class="colorBorder">
<table border="0" cellpadding="10" cellspacing="0">
  <tbody>
    <tr>
      <td valign="top" bgcolor="#FFFEE6" ><div rsf:id="isImage:"><img src="noimage.gif" alt="profile photo" border="none" rsf:id="photo" /></div>      </td>
      <td>
      <h3 rsf:id="full-name"><!-- Title, First name, Surname -->Dr Daffy Duck</h3>
        <p><a href="mailto:some@sdrg.net" rsf:id="email">daffyduck@disney.com</a></p>
        <p><span rsf:id="org"><!-- Organisation -->Disney<br /></span>
        <span rsf:id="country"><!-- country -->USA<br /></span>
        <a href="homepage" rsf:id="homepage" target="_blank" ><!-- homepage -->http://www.daffy.com</a></p>
        <p><span rsf:id="workphone">w: 021 555 1234<br /></span>
        <span rsf:id="mobile"><!-- mobile, if chosen to disclose -->m: 082 555 1234</span></p>
        <p><span rsf:id="more-info"><!-- More info -->Blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here blurb goes here</span></p></td>
    </tr>
  </tbody>
</table>
</div>
<br />
<input type="submit" onclick="Javascript:history.go(-1)" value="Back" />

</div>
</body>
</html>
