.messageAlert{
background: #FFEEEE url(../images/exclamation.gif) 5px 7px no-repeat;
        border:1px solid #FF5555;
        color:#FF5555;
        margin:.5em 0;
}
.messageInformation{
        background: #ffe url(../images/asterisk_yellow.gif) 5px 7px no-repeat;
        border:1px solid #EEBB44;
        color:#d93;
        margin:.5em 0;
}
.messageComfirm{
        background: #EEFFBB url(../images/accept.gif) 5px 7px no-repeat;
        border:1px solid #CCEE66;
        color:#779900;
        margin:.5em 0;
}

.profilepic{
width: 150px;

}

.profileImage{
	border:0px solid #999999;
	padding: 10px;
	margin: 0 10px 10px 0;
	text-align: center;
}

.search{
border:1px solid #CCCCCC;
padding: 5px;
margin: 0 0 10px 10px;
background-color:#E8E3DD;

}

.password{
border:0;
padding: 5px;
margin: 0 0 10px 10px;
border:1px solid #CCCCCC;
}


.hovermenu{
display: none;
}

.hovermenuactive{
position:fixed;
z-index:auto;
margin-left:90px;
}


.toplink{
margin-top:-159px;
}

.bottomlink{
margin-top:-110px;
}


.hovermenuactive li{
	background-color:#E8E3DD;
	list-style:none;
	text-decoration:none;
	font-size:12px;
	padding: 3px 5px 3px 5px;
	width: 150px;
	border-bottom: 1px solid #CCCCCC;
}


.hoverlinkactive a{
vertical-align: middle;
font-size:11px;
}

.title {
	font-weight: bold;
	color:#666;
}

img {
border:none;
}


.hoverlink{
	display: none;
}

.hoverlinkactive{
background:#D2EAF0;
border:1px solid #CCCCCC;
margin-right:-20px;
margin-top:-107px;
padding:1px;
position:fixed;
z-index:1;
}
