/* MESSAGES */

.messageAlert{
background: #FFEEEE url(../images/exclamation.gif) 5px 7px no-repeat;
border:1px solid #FF5555;
color:#FF5555;
margin:.5em 0;
}
.messageInformation{
background: #ffe url(../images/asterisk_yellow.gif) 5px 7px no-repeat;
border:1px solid #EEBB44;
color:#d93;
margin:.5em 0;
}
.messageComfirm{
background: #EEFFBB url(../images/accept.gif) 5px 7px no-repeat;
border:1px solid #CCEE66;
color:#779900;
margin:.5em 0;
}


/* PROFILE IMAGE */

.profilepic{
width: 150px;

}

.profileImage{
	border:0px solid #999999;
	padding: 10px;
	margin: 0 10px 10px 0;
	text-align: center;
}

img {
border:none;
}


/* LINKS and MENUS */

.hoverlink{
	display: none;
}

.hoverlinkactive{
background:#FFFFFF;
border:1px solid #CCCCCC;
margin-left:35px;
margin-top:-77px;
padding:6px;
position:fixed;
z-index:1;
font-size:11px;
/* for IE */
filter:alpha(opacity=60);
/* CSS3 standard */
opacity:0.6;

}

.hoverlinkactive a{
font-size:11px;
padding-bottom:7px;
vertical-align:middle;
}

.hovermenu{
display: none;
}

.hovermenuactive{
position:fixed;
z-index:auto;
margin-left:80px;
}

.toplink{
margin-top:-141px;
}

.bottomlink{
margin-top:-35px;
}

.menuTitle {
color:#666666;
font-weight:bold;
}

.hovermenuactive li{
	background-color:#F3F4F5;
	list-style:none;
	text-decoration:none;
	font-size:12px;
	padding: 3px 5px 3px 5px;
	width: 150px;
	border-bottom: 1px solid #CCCCCC;
}

.action {
font-size:11px;
}

.loading{
background: #EEFFBB url(/library/image/sakai/spinner.gif) 50% no-repeat;
z-index:2;
}

/* SIDEBARS */

.sidebar{
width: 250px;
float: right;
}

.sidebarTitle{
	color:#666;
	font-weight: bold;
	font-size: 12px;
	background-color: #D2EAF0;
	padding: 2px;
	margin: -5px -5px 5px -5px;
	float: top left;
}

.search{
border:1px solid #CCCCCC;
margin: 0 0 10px 10px;
background-color:#F3F4F5;

}

.password{
border:1px solid #CCCCCC;
margin: 0 0 10px 10px;

}
