<?xml version="1.0" encoding="UTF-8"?>
  <beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!--  Spring messageSource replaces JSF message-bundle from faces-config.xml -->
	<bean id="messageSource"
    class="org.sakaiproject.util.ResourceLoaderMessageSource"
    depends-on="TLABPostProcessorLoader">
    <property name="basename"
			value="classpath:org/sakaiproject/profilewow/tool/bundle/Messages" />
    <property name="cacheSeconds" value="10" />
  </bean>
 
  <bean parent="requestAddressibleParent">
    <property name="value" value="profileBeanLocator, uploadBean, userBeanLocator" />
  </bean>
 
  
  
	<bean id="templateResolverStrategy" parent="CRITemplateResolverStrategy">
		<property name="baseDirectory" value="templates/" />
	</bean>
	<!-- Override this definition from RSF-evolvers, to reflect the fact we are
		serving the RSF components templates from our own webapp (as provided using
		the "partial WAR" build strategy -->
	<bean id="componentsTemplateResourceBase"
		class="java.lang.String">
		<constructor-arg value="/" />
	</bean>
	
	<bean parent="handlerHookParent">
		<property name="value">
			<bean parent="RSACBridgeProxy">
				<property name="targetBeanName"	value="imageHandlerHook" />
			</bean>
		</property>
	</bean>
	
	<bean parent="viewParamsRegistrarParent">
		<property name="viewID" value="imageServlet" />
		<property name="viewParamsClass" value="org.sakaiproject.profilewow.tool.params.ImageViewParamaters"/>
	</bean>
	
	
	<bean id="voteGuard" parent="writeGuardParent">
     <property name="guardedPath" value="sakaiPersonFacade"/>
     <property name="guard">
         <bean class="org.sakaiproject.profilewow.tool.validators.ProfileValidator">
 		</bean>
     </property>
   </bean>
	

	
	<!-- Override the default style of user messages -->
    <bean id="messageTemplateContributor" parent="templateContributorParent">
        <property name="baseDirectory" value="component-templates/" />
        <property name="templateNames" value="Messages" />
    </bean>
	
	<bean id="profilewowTemplateContributor" parent="templateContributorParent">
		<property name="baseDirectory" value="component-templates/" />
        <property name="templateNames" value="profilePic,password,search" />
	</bean>
	<!--view inferer-->
	<bean class="org.sakaiproject.profilewow.tool.locators.ProfileViewParamatersInferer"/>
	<bean class="org.sakaiproject.profilewow.tool.locators.OfficialPictureInferer"/>
</beans>
